body {
  font-family: 'Urbanist', sans-serif;
}
.display-1 {
  font-family: 'Urbanist', sans-serif;
  font-size: 3.5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.375rem;
}
.display-2 {
  font-family: 'Urbanist', sans-serif;
  font-size: 2.5rem;
  line-height: 1.24;
}
.display-2 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-4 {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  line-height: 1.63;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.5rem;
  line-height: 1.28;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.45rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #0057fc !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #b4b8ff !important;
}
.bg-warning {
  background-color: #ffdd0f !important;
}
.bg-danger {
  background-color: #a28b00 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #0057fc !important;
  border-color: #0057fc !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0039a5 !important;
  border-color: #0039a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0039a5 !important;
  border-color: #0039a5 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff1f25 !important;
  border-color: #ff1f25 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #c70005 !important;
  border-color: #c70005 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #c70005 !important;
  border-color: #c70005 !important;
}
.btn-info,
.btn-info:active {
  background-color: #b4b8ff !important;
  border-color: #b4b8ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #5d66ff !important;
  border-color: #5d66ff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5d66ff !important;
  border-color: #5d66ff !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffdd0f !important;
  border-color: #ffdd0f !important;
  color: #0f0d00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #b79d00 !important;
  border-color: #b79d00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #0f0d00 !important;
  background-color: #b79d00 !important;
  border-color: #b79d00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #a28b00 !important;
  border-color: #a28b00 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #4b4100 !important;
  border-color: #4b4100 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #4b4100 !important;
  border-color: #4b4100 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #111111 !important;
  border-color: #111111 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0057fc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #0039a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #0057fc !important;
  border-color: #0057fc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff1f25;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #c70005 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff1f25 !important;
  border-color: #ff1f25 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b4b8ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #5d66ff !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #b4b8ff !important;
  border-color: #b4b8ff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffdd0f;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #b79d00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #0f0d00 !important;
  background-color: #ffdd0f !important;
  border-color: #ffdd0f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #a28b00;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #4b4100 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #a28b00 !important;
  border-color: #a28b00 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #111111;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #111111 !important;
  border-color: #111111 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #0057fc !important;
}
.text-secondary {
  color: #ff1f25 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #b4b8ff !important;
}
.text-warning {
  color: #ffdd0f !important;
}
.text-danger {
  color: #a28b00 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #111111 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #003496 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #b80005 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #4e57ff !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #a89000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #3c3300 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #0057fc;
}
.nav-tabs .nav-link:not(.active) {
  color: #111111;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #b4b8ff;
}
.alert-warning {
  background-color: #ffdd0f;
}
.alert-danger {
  background-color: #a28b00;
}
.mbr-gallery-filter li.active .btn {
  background-color: #0057fc;
  border-color: #0057fc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #0057fc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c9dcff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffadb;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffe022;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  line-height: 1.63;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #0057fc !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  line-height: 1.63;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #0057fc;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #0057fc;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #0057fc;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #0057fc;
  border-bottom-color: #0057fc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #0057fc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff1f25 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%230057fc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.container {
  max-width: 1200px;
}
.btn {
  box-shadow: none;
  padding: 14px 28px;
  line-height: 1;
}
.label-text {
  letter-spacing: 2px;
}
.cid-sPTO0Cbpqq {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sPTO0Cbpqq .row {
  flex-direction: row-reverse;
}
.cid-sPTO0Cbpqq .row {
  align-items: center;
}
.cid-sPTO0Cbpqq .img-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media (max-width: 767px) {
  .cid-sPTO0Cbpqq .img-item {
    padding: 0;
  }
}
.cid-sPTO0Cbpqq .img-item img {
  height: auto;
  width: 250px;
}
@media (max-width: 767px) {
  .cid-sPTO0Cbpqq .text-col {
    margin-top: 45px;
  }
}
@media (min-width: 992px) {
  .cid-sPTO0Cbpqq .text-col {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-sPTO0Cbpqq .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 992px) {
  .cid-sPTO0Cbpqq .text-wrapper {
    padding: 0 75px 0 100px;
    padding: 0 100px 0 75px;
  }
}
.cid-sPTO0Cbpqq .icon-wrap {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .cid-sPTO0Cbpqq .icon-wrap {
    justify-content: center;
  }
}
.cid-sPTO0Cbpqq .icon-box {
  background: #ff4c51;
  width: 50px;
  min-width: 50px;
  height: 50px;
  padding: 17px;
  border-radius: 50%;
  margin-bottom: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-sPTO0Cbpqq .icon-box .mbr-iconfont {
  font-size: 16px;
  color: #ffffff;
}
.cid-sPTO0Cbpqq .mbr-section-title {
  margin-bottom: 36px;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sPTO0Cbpqq .mbr-section-title {
    text-align: center !important;
  }
}
.cid-sPTO0Cbpqq .mbr-text {
  color: #555555;
  width: 100%;
  margin-bottom: 12px;
}
.cid-sPTO0Cbpqq .item {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  border: 1px solid #EEEEEE;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .cid-sPTO0Cbpqq .item {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
.cid-sPTO0Cbpqq .card-icon-box {
  margin-right: 20px;
}
@media (max-width: 767px) {
  .cid-sPTO0Cbpqq .card-icon-box {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
.cid-sPTO0Cbpqq .card-icon-box .mbr-iconfont {
  font-size: 27px;
  color: #ff4c51;
}
.cid-sPTO0Cbpqq .text-box {
  width: 100%;
}
.cid-sPTO0Cbpqq .card-title {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sPTO0Cbpqq .card-title {
    text-align: center !important;
  }
}
.cid-sPTO0Cbpqq .card-text {
  letter-spacing: inherit;
  color: #555555;
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sPTO0Cbpqq .card-text {
    text-align: center !important;
  }
}
.cid-sPTO0Cbpqq .btn-container {
  width: 100%;
}
.cid-sPTO0Cbpqq .mbr-section-btn {
  margin-top: 10px;
}
@media (max-width: 575px) {
  .cid-sPTO0Cbpqq .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .cid-sPTO0Cbpqq .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-sPBVHiCONA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-sPBVHiCONA .mbr-text {
  color: #111111;
}
